POSTGRES_DB=reasonance_db
POSTGRES_USER=reasonance_user
POSTGRES_PASSWORD=reasonance_password
DB_HOST=db
DB_PORT=5432


RUSTFS_ACCESS_KEY=reasonance_admin
RUSTFS_SECRET_KEY=reasonance_admin
RUSTFS_BUCKET=reasonancefiles
RUSTFS_URL=http://rustfs:9000

LLM_PROVIDER=gemini

OLLAMA_BASE_URL=http://ollama:11434
OLLAMA_MODEL=gemma3n

GEMINI_API_KEY=
GEMINI_MODEL=gemini-3-pro-preview
BACKEND_API_URL=http://backend:8080/api/v1
LOG_LEVEL=INFO
